@font-face {
  font-family: 'skoda-next';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/SKODA-Light.eot');
  src: url('/static/fonts/SKODA-Light.eot') format('embedded-opentype'),
    url('/static/fonts/SKODANext-Light.ttf') format('truetype'),
    url('/static/fonts/SKODANext-Light.woff') format('woff');
}

@font-face {
  font-family: 'skoda-next';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/SKODA-Regular.eot');
  src: url('/static/fonts/SKODA-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/SKODANext-Regular.ttf') format('truetype'),
    url('/static/fonts/SKODANext-Regular.woff') format('woff');
}

@font-face {
  font-family: 'skoda-next';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/SKODA-Bold.eot');
  src: url('/static/fonts/SKODA-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/SKODANext-Bold.ttf') format('truetype'),
    url('/static/fonts/SKODANext-Bold.woff') format('woff');
}

@font-face {
  font-family: 'skoda-next';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/SKODA-Black.eot');
  src: url('/static/fonts/SKODA-Black.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/SKODANext-Black.ttf') format('truetype'),
    url('/static/fonts/SKODANext-Black.woff') format('woff');
}
