.human {
  display: flex;
  align-items: center;
  /*   &:not(:last-child) {
  margin-bottom: 50px;
} */
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid $medium-gray;
    overflow: hidden;
    flex-shrink: 0;
  }
  &__details {
    margin-left: 30px;
    h4 {
      // margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      letter-spacing: 0.07em;
    }
  }

  @include phone-down {
    flex-direction: column;
    align-items: flex-start;
    &__details {
      margin-top: 30px;
      margin-left: 0;
    }
  }
}
