.innovation-ui__sidebar__content__intro__bullets {
  padding: 50px 50px 35px;
  &__list {
    &:nth-child(2) h3 {
      margin-top: 40px;
    }
    &__item {
      display: flex;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      // align-items: flex-start;
      span {
        display: block;
        color: $green;
        font-weight: 500;
        margin-right: 25px;
        font-size: 14px;
        padding-top: 3px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  @include phone-down {
    padding: 30px;
    &__list {
      &__item {
        display: block;
        span {
          margin-bottom: 5px;
        }
      }
    }
  }
}
