.innovation-ui__sidebar__content__detail__wrapper__about {
  position: relative;
  padding: 35px 50px 0;
  &:after {
    content: "";
    display: block;
    height: 2px;
    width: calc(100% - 15px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $soft-gray;
  }
  &__paragraph {
    margin-bottom: 50px;
  }
  &__images {
    margin: 50px 0;
    &:not(:last-child) img {
      margin-bottom: 10px;
    }
  }
  &__bullets {
    list-style: none;
    &:last-child {
      margin-bottom: 50px;
    }
  }
  @include phone-down {
    padding: 15px 30px 0;
    &__paragraph {
      margin-bottom: 30px;
    }
    &__images {
      margin: 30px 0;
    }
  }
}
