.popup {
  position: absolute;
  top: calc(100% + 30px);
  right: calc(30px + 45px);
  background-color: $light-gray;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-shadow: 0 0 50px dark-gray(0.4);
  border-radius: 5px;
  // z-index: 99999999999999;
  a {
    color: $green;
    // text-decoration: none;
    &:hover {
      color: $green-h;
    }
  }
  &__close {
    height: 100%;
    width: 40px;
    background-color: $green;
    position: absolute;
    right: -45px;
    border-radius: 5px;
    cursor: pointer;
    background-image: url("/static/icons/close.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  @include tablet-por-down {
    top: calc(80vh - 60px);
    right: 0;
  }
}
