.innovation-ui__playbtn {
  width: 80px;
  height: 80px;
  z-index: 2;
  @include for-ie {
    // z-index: 9;
  }
  cursor: pointer;
  background-color: $light-gray;
  border-radius: 100%;
  position: absolute;
  top: calc(((100vh - 60px) / 2) - 40px);
  right: calc((100vw / 2) - 40px);
  background-image: url('/static/icons/playBtn.svg');
  background-repeat: no-repeat;
  background-position: calc(50% + 3px) center;
}
