.navbar-lang {
  margin-left: cols(1);
  font-size: 16px;
  font-weight: 600;
  color: $dark-gray;
  cursor: pointer;
  &__active-lang {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: $light-gray;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: $green;
    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &__dropdown {
    background-color: $light-gray;
    position: absolute;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      &:last-child {
        padding-bottom: 11px;
      }
      &:hover {
        color: $green;
      }
    }
  }
  @include tablet-por-down {
    display: flex;
    margin-left: 0;
    margin-top: cols(1);
    &__active-lang {
      background-color: $white;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 5px;
    }
    &__dropdown {
      border-top-right-radius: 25px;
      border-bottom-left-radius: 0;
      position: static;
      flex-direction: row;
      background-color: $white;
      padding-right: 5px;
      &__item {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
}
